
@{
    ViewBag.Title = "LeGrotte";
}
<!DOCTYPE html>
<html>
<head>
<link href="~/Content/LeGrotte.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />

</head>
<body>
    <h1 class="text-center">
        LE GROTTE PIÙ BELLE D'ITALIA
    </h1>
    <div class="row mt-5 m-2">
        <div class="card rounded-5">
            <img src="~/Content/assets/borgioVerezzi.jpg" class="rounded-5 rounded-bottom-0" style="width:100%">
            <div class="card-title">
                <h4 class="text-center "> Le Grotte di Borgio Verezzi </h4>
                <div>
                    <a>@Html.ActionLink("▲", "GrottediBorgioVerezzi", "Grotte", new { area = "" }, new { @class = "nav-link" })</a>
                </div>
            </div>

        </div>
        <div class="card rounded-5">
            <img src="~/Content/assets/GVento.jpg" class="rounded-5 rounded-bottom-0" style="width:100%">
            <div class="card-title text-center ">
                <h4> Le Grotte del Vento</h4>
            </div>
            <div>
                <a>@Html.ActionLink("▲", "GrottedelVento", "Grotte", new { area = "" }, new { @class = "nav-link" })</a>
            </div>
        </div>
        <div class="card rounded-5">
            <img src="~/Content/assets/castellana.jpg" class="rounded-5 rounded-bottom-0" style="width:100%">
            <div class="card-title text-center ">
                <h4> Le Grotte di Castellana</h4>
            </div>
            <div>
                <a>@Html.ActionLink("▲", "GrottediCastellana", "Grotte", new { area = "" }, new { @class = "nav-link" })</a>
            </div>
        </div>
        <div class="card rounded-5">
            <img src="~/Content/assets/toirano.jpg" class="rounded-5 rounded-bottom-0" style="width:100%">
            <div class="card-title text-center">
                <h4> Le Grotte di Toirano</h4>
            </div>
            <div>
                <a>@Html.ActionLink("▲", "GrottediToirano", "Grotte", new { area = "" }, new { @class = "nav-link" })</a>
            </div>
        </div>
        <div class="card rounded-5">
            <img src="~/Content/assets/pertosaAuletta.jpg" class="rounded-5 rounded-bottom-0" style="width:100%">
            <div class="card-title text-center">
                <h4> Le Grotte di Pertosa Auletta</h4>
            </div>
            <div>
                <a>@Html.ActionLink("▲", "GrottediPertosaAuletta", "Grotte", new { area = "" }, new { @class = "nav-link" })</a>
            </div>
        </div>
    </div>
    <div class="row m-2 mb-3">
        <div class="card rounded-5">
            <img src="~/Content/assets/stiffe.jpg" class="rounded-5 rounded-bottom-0" style="width:100%">
            <div class="card-title text-center">
                <h4> Le Grotte di Stiffe</h4>
            </div>
            <div>
                <a>@Html.ActionLink("▲", "GrottediStiffe", "Grotte", new { area = "" }, new { @class = "nav-link" })</a>
            </div>
        </div>
        <div class="card rounded-5">
            <img src="~/Content/assets/pastena.jpg" class="rounded-5 rounded-bottom-0" style="width:100%">
            <div class="card-title text-center">
                <h4> Le Grotte di Pastena</h4>
            </div>
            <div>
                <a>@Html.ActionLink("▲", "GrottediPastena", "Grotte", new { area = "" }, new { @class = "nav-link" })</a>
            </div>
        </div>
        <div class="card rounded-5">
            <img src="~/Content/assets/gigante.jpg" class="rounded-5 rounded-bottom-0" style="width:100%">
            <div class="card-title text-center">
                <h4> Le Grotte Gigante</h4>
            </div>
            <div>
                <a>@Html.ActionLink("▲", "GrottaGigante", "Grotte", new { area = "" }, new { @class = "nav-link" })</a>
            </div>
        </div>
        <div class="card rounded-5">
            <img src="~/Content/assets/frasassi.jpg" class="rounded-5 rounded-bottom-0" style="width:100%">
            <div class="card-title text-center">
                <h4> Le Grotte di Frasassi</h4>
            </div>
            <div>
                <a>@Html.ActionLink("▲", "GrottediFrasassi", "Grotte", new { area = "" }, new { @class = "nav-link" })</a>
            </div>
        </div>
        <div class="card rounded-5">
            <img src="~/Content/assets/bossea.jpg" class="rounded-5 rounded-bottom-0" style="width:100%">
            <div class="card-title text-center">
                <h4> Le Grotte di Bossea</h4>
            </div>
            <div>
                <a>@Html.ActionLink("▲", "GrottediBossea", "Grotte", new { area = "" }, new { @class = "nav-link" })</a>
            </div>
        </div>
    </div>

</body>
</html>
