@model IEnumerable<WaveTheCave.Models.DetPrenotazione>

@{
    ViewBag.Title = "ResocontoDetPrenotazione";
}

<h2>ResocontoDetPrenotazione</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Grotte.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prenotazione.IdPrenotazione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantita)
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Grotte.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prenotazione.IdPrenotazione)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantita)
                </td>
               
            </tr>
        }
    }
else { }
    </table>
