@model IEnumerable<WaveTheCave.Models.Grotte>
    @{
        ViewBag.Title = "Index";
    }
    ﻿@Styles.Render("~/Content/Site.css")
    <div class="row flex-column flex-md-row ">
        <div class="col col-md-9">
            <h2 class="text-center p-4">Scegli quale grotta vuoi visitare:</h2>
            @foreach (var item in Model)
            {
                <div class="card d-flex my-2 flex-column  mb-5 p-2">

                    <div class=" tabellaGenerale d-flex align-items-center">

                        <img src="~/Content/assets/@item.Foto" class=" Immagine card-img-top  " alt="@item.Nome">
                        <div class="card-body justify-content-between align-items-start row">
                            <div class="d-flex flex-column mx-2 col ms-5">
                                <h5 class="card-title">@item.Nome</h5>
                                <div class="card-text fst-italic">@item.Descrizione</div>

                                <p class="fw-bold mx-2">$@item.Prezzo</p>
                            </div>
                            <div class="mx-2 col">
                                @using (Html.BeginForm("AddToCart", "Home", FormMethod.Post))
                                {

                                    @Html.Hidden("IdGrotte", item.IdGrotte)
                                    <label for="Quantita">Quantità</label>
                                    <input id="Quantita" name="Quantita" class="w-50 form-control" type="number" value="1" />
                                    <input type="submit" value="Aggiungi" class="btn my-2" />
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col col-md-3">
            <div class=" TabResoconto card  ms-5">
                <div class="card-body ">
                    @if (ViewBag.Carrello != null)
                    {
                        for (int i = 0; i < ViewBag.Carrello.Count; i++)
                        {
                            WaveTheCave.Models.Cart p = ViewBag.Carrello[i];
                            <div>
                                <p class="fw-bold my-0">// @p.Nome</p>
                                <p class="my-0">// (@p.Quantita)</p>

                                @Html.ActionLink("Rimuovi", "Remove", "Home", new { id = i }, new { @class = "btn my-2" })
                            </div>
                            <hr />
                        }
                        <div class="d-flex flex-column  align-items-md-center">
                            <p class="fw-bold">Totale: $@WaveTheCave.Models.Cart.CalcoloCostoTotale(ViewBag.Carrello)</p>
                            @Html.ActionLink("Prenota", "AddPrenotazione", "Prenotazione", "", new { @class = "btn" })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>


