@model WaveTheCave.Models.Prenotazione

@{
    ViewBag.Title = "AddPrenotazione";
}

<h2 class="mt-5 pt-5">Aggiungi Prenotazione</h2>

@using (Html.BeginForm("AddPrenotazione", "Prenotazione", FormMethod.Post))
{
    @Html.LabelFor(model => model.IdUser)
    @Html.TextBoxFor(model => model.IdUser, new {  required = "required" })

    @Html.LabelFor(model => model.IdGrotte)
    @Html.DropDownListFor(model => model.IdGrotte, new SelectList(ViewBag.Grotte, "IdGrotte", "Nome"), "Seleziona Grotta", new { required = "required" })

    @Html.LabelFor(model => model.Quantita)
    @Html.TextBoxFor(model => model.Quantita, new { type = "number", min = "1", required = "required" })

    @Html.LabelFor(model => model.Data)
    @Html.TextBoxFor(model => model.Data, new { type = "date", required = "required" })

    @Html.LabelFor(model => model.IdOrari)
    @Html.DropDownListFor(model => model.IdOrari, new SelectList(ViewBag.Orari, "IdOrari", "OrariGrotte"), "Seleziona Orario", new { required = "required" })



    @*<p>Importo Totale: @Model.Importo</p>*@



    <input type="submit" value="Conferma Prenotazione" />
}
