@model WaveTheCave.Models.Cart

@{
    ViewBag.Title = "AddPrenotazione";
    List<WaveTheCave.Models.Cart> lista = Session["Carrello"] as List<WaveTheCave.Models.Cart>;
}

<div class="card mt-5 pt-5">
<h3 class="text-center">Carrello</h3>

    @if (lista != null)
    {
        foreach (WaveTheCave.Models.Cart p in lista)
        {
            <div class="m-4">
                @using (Html.BeginForm("AddData", "Prenotazione", FormMethod.Post))
                {
                    @Html.Hidden("IdGrotte", p.IdGrotte)
                    <p class="fw-bold my-0">//@p.Nome</p>
                    <p class="my-0">//(@p.Quantita)</p>
                    <p class="my-0">//(@p.IdOrari)</p>
                    <p class="my-0">//(@p.Data)</p>
                   

                }


            </div>
            <hr />
        }
        <div class="d-flex flex-column mx-4">
            <p class="fw-bold">Totale: $@WaveTheCave.Models.Cart.CalcoloCostoTotale(lista)</p>

        </div>
    }




    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <button >@Html.ActionLink("Termina e Paga", "Pagamento", "Prenotazione", new { area = "" }, new { @class = "nav-link" })</button>

        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
