@model IEnumerable<WaveTheCave.Models.Prenotazione>

@{
    ViewBag.Title = "ResocontoPrenotazione";
}

<h2>ResocontoPrenotazione</h2>

<p>
    @Html.ActionLink("Create New", "CreateResocontoPrenotazione")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Orari.OrariGrotte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Importo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Orari.OrariGrotte)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Importo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdPrenotazione }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdPrenotazione }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdPrenotazione })
        </td>
    </tr>
}

</table>
